@namespace mims.Components.Admin.Account
@rendermode InteractiveServer

<h3>Login</h3>

<Card Class="mx-auto border-0 rounded-4" Style="width:25rem;">
    <CardBody>
        <Card Class="text-center border-0">
            <h1><i class="bi bi-person-circle" style="color: rebeccapurple"></i></h1>
        </Card>

        <CardTitle Class="text-center fw-bold"><h2>Admin Login</h2></CardTitle>
        <form>
            <div class="form-group mt-4">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control form-control-lg" id="exampleInputname" aria-describedby="emailHelp" placeholder="Enter username">
                
            </div>
            <div class="form-group mt-4">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Enter password">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mt-4">
                <Button Color="ButtonColor.Primary" > Login </Button>
            </div>
            
        </form> 
    </CardBody>
</Card>


@code {

}
