@namespace mims.Components.Admin.Account
@rendermode InteractiveServer
@using Services.Interfaces
@inject IAccountService AccountService
<style>
        .profile-container {
            max-width: 800px;
            margin: auto;
            background-color: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
 </style>

<Card Style="width:30rem;" Class="profile-container">
    <CardBody Class="text-center">
        <Card Class="border-0 rounded-3 text-center">
            <CardBody>
                <h1> <i class="bi bi-person-circle" style="color:darkblue;"></i> </h1>
            </CardBody>
        </Card>
        <CardTitle Class="text-center fw-bold"><h2>Admin Profile</h2></CardTitle>
        <div>
            <h3 class="mb-0 text-primary">@userName</h3>
            <p class="mb-1 text-muted">Administrator</p>
          
        </div>
        
        <CardText>This is the profile page of admin. </CardText>
        <Button Color="ButtonColor.Primary" To="Admin/Account/Username" Type="ButtonType.Link">Change username</Button>
        <Button Color="ButtonColor.Primary" To="Admin/Account/Password" Type="ButtonType.Link">Change password</Button>
        <Button Color="ButtonColor.Primary" To="Admin/Account/Logout" Type="ButtonType.Link">Logout</Button>
    </CardBody>
</Card>








    @* <div class="container profile-container justify-content-end">
        <div class="d-flex align-items-center mb-4">
            <img src="https://via.placeholder.com/150" alt="Profile Picture" class="rounded-circle mr-3">
            <div>
                <h2 class="mb-0">Admin Name</h2>
                <p class="mb-1 text-muted">Administrator</p>
                <p class="mb-0 text-muted">Email: admin@example.com</p>
            </div>
        </div>
        <div>
            <h4>About Me</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl vel convallis tincidunt, velit nunc luctus nunc, non ultrices purus justo in dolor.</p>
        </div>
        <div class="row text-center mt-4">
            <div class="col">
                <h3>150</h3>
                <p class="text-muted">Users</p>
            </div>
            <div class="col">
                <h3>75</h3>
                <p class="text-muted">Posts</p>
            </div>
            <div class="col">
                <h3>24/7</h3>
                <p class="text-muted">Support</p>
            </div>
        </div>
    </div> *@

@code {
    private string userName {get;set;} = "loading ..";
  protected async override Task OnInitializedAsync()
  {
    userName = await AccountService.GetUsername();
  }
}
