@namespace mims.Components.Admin
@using mims.Components.Admin.Dashboard
@using mims.Models
@inject mims.Services.Interfaces.IArtifactService ArtifactService
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<h1>Dashboard</h1>

<style>
    .my-special-card-container{
        box-shadow: 0px 0px 35px -3px rgba(142,125,125,0.75);
        -webkit-box-shadow: 0px 0px 35px -3px rgba(142,125,125,0.75);
        -moz-box-shadow: 0px 0px 35px -3px rgba(142,125,125,0.75);
    }
</style>

<div class="d-flex m-3 justify-content-between">
    <div id="dashboard-component-1" >
        <TotalArtifacts TotalNoOfArtifacts="TotalArtifacts"/>
    </div>
    <div id="dashboard-component-2">
        <BoughtArtifacts NoOfBoughtArtifacts="BoughtArtifacts"/>
    </div>
    <div id="dashboard-component-3">
        <RentedArtifacts NoOfRentedArtifacts="RentedArtifacts" />
    </div>
</div>

<div  class="d-flex m-3 justify-content-between my-card-container">
    <MostValuableArtifacts artifacts="MostValuableArtifacts"/>
    <RecentlyAddedArtifacts artifacts="RecentlyAddedArtifacts"/>
</div>



@code{
    private int NoOfArtifactsToShowInList = 4;
    private int TotalArtifacts { get; set; } 
    private int BoughtArtifacts { get; set;}
    private int RentedArtifacts { get; set;}
    private IEnumerable<mims.Models.Artifact> artifacts{ get; set; }
    private IEnumerable<mims.Models.Artifact> RecentlyAddedArtifacts{ get; set; }
    private IEnumerable<mims.Models.Artifact> MostValuableArtifacts{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (artifacts is null) // pull artifacts only one time for client-side filtering, sorting, and paging
            artifacts = await ArtifactService.GetAllArtifacts();

        TotalArtifacts   = artifacts.Count();
        BoughtArtifacts  = artifacts.Where(a  =>  a.ModeOfAcquisition ==  AcquisitionMode.Buying).Count();
        RentedArtifacts  = artifacts.Where(a  =>  a.ModeOfAcquisition ==  AcquisitionMode.Rent).Count();
        RecentlyAddedArtifacts = artifacts.OrderByDescending(artifact => artifact.CreatedAt)
                                .Take(NoOfArtifactsToShowInList ).ToList();
        MostValuableArtifacts = artifacts.OrderByDescending(artifact => artifact.EstimatedValue)
                                .Take(NoOfArtifactsToShowInList ).ToList();
    }
}
