@namespace mims.Components.Admin

<style>
    /* Custom styles for the navbar */
    #sidebar {
        height: 110vh;
        width: 10rem;
        position: absolute;
        top: 0rem;
        left: -2500px; /* Hidden by default */
        background-color: #343a40;
        transition: left 0.3s;
        z-index: 999999999999;
    }

        #sidebar:hover {
            left: 0px;
        }

        #sidebar.active {
            left: 0px;
        }

    body {
        transition: margin-left 0.5s;
    }
</style>
 <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index"><i class="bi bi-list"></i></a>
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">Jyapu Samaj</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>ul
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
<div id="sidebar" class="bg-dark">
    <nav class="navbar navbar-dark bg-dark flex-column">
        <ul class="nav flex-column">
            <li class="nav-item">
                <div class="nav-link text-light">Jyapu Samaj</div>
            </li>
            <i class="bi bi-list"></i>
            <li class="nav-item">
                <div class="nav-link text-light">Admin Panel</div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Admin">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Admin/Artifacts">Artifacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Admin/Account/Profile">Profile</a>
            </li>
        </ul>
    </nav>
</div> 

<script>
    $(document).ready(function () {
        // Show sidebar when the mouse hits the left side of the screen
        $(document).mousemove(function (event) {
            if (event.pageX < 200) {
                $('#sidebar').addClass('active');
            } else if (!$('#sidebar').is(':hover')) {
                $('#sidebar').removeClass('active');
            }
        });
    });
</script>





