@inject IArtifactService ArtifactService
@using System.ComponentModel.DataAnnotations
@using Services.Interfaces
@namespace mims.Components.Admin.Artifact

<EditForm Model="@bindingArtifactObject" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="bindingArtifactObject.Name" />
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="bindingArtifactObject.Description" />
    </div>

    <button type="submit" id="submitButton" class="btn btn-primary">@ButtonText</button>
</EditForm>

@code {
    @* private mims.Models.Artifact bindingArtifactObject = new mims.Models.Artifact(); *@

    [Parameter]
    public mims.Models.Artifact bindingArtifactObject {get;set;}

    [Parameter]
    public string ButtonText{ get; set; }

    [Parameter]
    public string artifactID{ get; set; }

    [Parameter]
    public EventCallback OnValidSubmitHandler { get; set; }
    private async Task HandleValidSubmit()
    {
        if (OnValidSubmitHandler.HasDelegate)
        {
            await OnValidSubmitHandler.InvokeAsync(null);
        }
    }
}


