 @using mims.Components;
@using mims.Components.Admin;

@{
    ViewData["Title"] = "Home Page";
}


@* <h1>Dashboard</h1>

<style>
    .my-card-container {
        transition: transform 0.3s;
    }

        .my-card-container:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        }
</style>

<div class="d-flex m-3 justify-content-around">
    <div>
        <component type="typeof(TotalArtifacts)" render-mode="ServerPrerendered" />
    </div>
    <div>
        <component type="typeof(BoughtArtifacts)" render-mode="ServerPrerendered" />
    </div>
    <div>
        <component type="typeof(RentedArtifacts)" render-mode="ServerPrerendered" />
    </div>
</div>

<div class="d-flex m-3 justify-content-around">
    <component type="typeof(MostValuableArtifacts)" render-mode="ServerPrerendered" />
    <component type="typeof(RecentlyAddedArtifacts)" render-mode="ServerPrerendered" />
</div> *@


<component type="typeof(AdminDashboard)" render-mode="ServerPrerendered" />