@using mims.Components;
@using mims.Components.Admin.Dashboard;

@{
    ViewData["Title"] = "Home Page";
}

 <div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
</div> 

<div class="d-flex justify-content-around">
    <component type="typeof(TotalArtifacts)" render-mode="ServerPrerendered" />
    <component type="typeof(mims.Components.Admin.Dashboard.RentedArtifacts)" render-mode="ServerPrerendered" />
    <component type="typeof(RecentlyAddedArtifacts)" render-mode="ServerPrerendered" />
</div>

 



