@{
    ViewData["Title"] = "Privacy Policy";
}
@using mims.Services;
@using mims.Services.Interfaces;

@inject IArtifactService ArtifactService;

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h2> Data From Artifact Service </h2>
@foreach (var artifact in ArtifactService.GetAllArtifacts())
{
  <h2>@artifact.Name</h2>
}

<component type="typeof(mims.Components.Admin.Dashboard.TotalArtifacts)" render-mode="ServerPrerendered" />
