@namespace mims.Components.Admin.Dashboard
@using mims.Services.Interfaces
@using mims.Services

@inject IArtifactService ArtifactService 
<Card Class="my-card-container mb-4 rounded-4 bg-white border-0 p-2" Style="width:24rem; background-color:white">
    <CardBody>
        <div class="d-flex">
            <Card Class="border-0 rounded-3" Style="background-color: #9eeaf9">
                <CardBody>
                    <h1> <i class="bi bi-bag-fill" style="color:#087990;"></i> </h1>
                </CardBody>
            </Card>
            <div class="mx-auto">
                <h1 class=""> &nbsp;&nbsp; @NoOfBoughtArtifacts</h1>
                <h6 class="">Bought Artifacts</h6>
            </div>
        </div>
    </CardBody>
</Card>

@code {
    [Parameter]
    public int NoOfBoughtArtifacts { get; set; }

}
