@namespace mims.Components.Admin.Dashboard

<Button Color="ButtonColor.Primary">
  <NavLink href="/Admin/Artifacts/" class="nav-link" Match="NavLinkMatch.All">      
    <i class="bi bi-pencil-square"/> Manage Artifact     
  </NavLink>  
</Button>
