@namespace mims.Components.Admin.Dashboard
@rendermode InteractiveServer

@using mims.Models
@using mims.Services.Interfaces
@inject IArtifactService ArtifactService
@inject NavigationManager Navigation

@* <Card Color="CardColor.Info" Class="mb-4" Style="width:30rem;">
    <CardBody>
        <CardTitle>Recently Added Artifacts: </CardTitle>
    </CardBody>
    <ul class="list-group list-group-flush">
        @if (isLoading)
        {
            <li class="list-group-item">Loading...</li>
        }
        else if (Artifacts == null || !Artifacts.Any())
        {
            <li class="list-group-item">No artifacts found !!</li>
        }
        else
        {
            foreach (var artifact in Artifacts)
            {
                <li class="list-group-item">@artifact.Name</li>
            }
        }
    </ul>
</Card> *@

<Card Class="my-card-container border-0 rounded-4 bg-white my-special-card-container" Style="width:34rem; height:22rem">
    <CardBody>
        <CardTitle>
            <div class="d-flex justify-content-between fw-bold">
            Recently Added Artifacts
 
                
                    <NavLink href="/Admin/Artifacts/Create" class="nav-link" Match="NavLinkMatch.All">
                        <Button Color="ButtonColor.Success" Class="rounded-5">
                            <Icon Name="IconName.PlusLg" Size=" IconSize.x5"></Icon>
                        </Button>
                    </NavLink>
                
            </div>

        </CardTitle>
        <Grid TItem="Artifact"
              AllowSorting="false"
              Class="table table-hover"
              DataProvider="ArtifactsDataProvider"
              HeaderRowCssClass="text-black border-bottom-5"
              AllowRowClick="true"
              OnRowClick="OnRowClick"
              Responsive="true"
              EmptyText="No artifacts to display">

            <GridColumn TItem="Artifact" HeaderText="Entry No.">
                @context.EntryNo
            </GridColumn>

            <GridColumn TItem="Artifact" HeaderText="Artifact">
                @context.Name
            </GridColumn>

            <GridColumn TItem="Artifact" HeaderText="Added At">
                Rs @context.CreatedAt
            </GridColumn>

        </Grid>

    </CardBody>
   
</Card>


@code {
    IEnumerable<Artifact> Artifacts;
    private bool isLoading = true;

    [Parameter]
    public IEnumerable<Artifact> artifacts{ get; set; }
    private HashSet<Artifact> selectedArtifacts = new();

    private async Task<GridDataProviderResult<Artifact>> ArtifactsDataProvider(GridDataProviderRequest<Artifact> request)
    {
        return await Task.FromResult(request.ApplyTo(artifacts));
    }

    private async Task OnRowClick(GridRowEventArgs<Artifact> args)
    {
        @* args.Item.Id *@
        Console.WriteLine("------------Row clicked " + args.Item.Id);
        var artifactId = args.Item.Id;
        Navigation.NavigateTo($"Admin/Artifacts/{artifactId}", forceLoad: true);
    }
}
