@namespace mims.Components.Admin.Dashboard
@rendermode InteractiveServer

@using mims.Models
@using mims.Services.Interfaces
@inject IArtifactService ArtifactService

<Card Color="CardColor.Primary" Class="mb-4" Style="width:18rem;">
    <CardBody>
        <CardTitle>Recently Added Artifacts: </CardTitle>
    </CardBody>
    <ul class="list-group list-group-flush">
        @foreach (var artifact in Artifacts)
        {
            <li class="list-group-item">@artifact.Name</li>
        }
    </ul>
</Card>


@code {
  IEnumerable<Artifact> Artifacts;
  protected override async Task OnInitializedAsync()
  {
    int noOfRecords = 4;
    Artifacts = ArtifactService.GetRecentlyAddedArtifacts(noOfRecords);
  }
}
