@namespace mims.Components.Admin.Dashboard
@using mims.Services.Interfaces
@using mims.Services

<!-- inject IArtifactService ArtifactService -->

<h3>TotalArtifacts</h3>
<div>@number</div>

@code {
    private IArtifactService ArtifactService;
    public TotalArtifacts(IArtifactService artifactService){
        ArtifactService = artifactService;
    }
    int number = ArtifactService.GetArtifactCount();

}
