@namespace mims.Components.Admin.Dashboard
@using mims.Services.Interfaces
@using mims.Services

@inject IArtifactService ArtifactService 
<Card Class="mb-4 rounded-4 bg-white border-2" Style="width:24rem; background-color:white">
    <CardBody>
        <div class="d-flex">
            <Card Color="CardColor.Success" >
                <CardBody>
                   <h1> <i class="bi bi-box-fill"></i> </h1>
                </CardBody>
            </Card>
            <div class="mx-auto">
                <h1 class=""> &nbsp;&nbsp; @number</h1>
                <h6 class="">Total Artifacts</h6>
            </div>
        </div>
    </CardBody>
</Card>


@code {
    int number;
    protected override async Task OnInitializedAsync()
    {
        number = await ArtifactService.GetArtifactCount();
    }
}
